*{
    margin:0;
    padding:0;
}
.parent{
    height:1000px;
    width: 1200px;
    border:2px dashed blueviolet;
    background-color: tomato;
    margin:10px;
    padding:20px;
    display:flex;
    flex-direction:row;
    align-items: center;
}
.child{
    height: 100px;
    width:150px;
    border: 1px solid red;
    padding:10px;
}

#fst{
    background-color: aqua;
}
#scnd{
    background-color: steelblue;
}
#thrd{
    background-color: rebeccapurple;
}
#frth{
    background-color: mediumspringgreen;
}
#fth{
    background-color: chartreuse;
}
#sth{
    background-color: darkcyan;
}
#svth{
    background-color: deepskyblue;
}